<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :num %><br />
    <%= f.text_field :num %>
  </div>
  <div class="field">
    <%= f.label :progressao %><br />
    <%= f.text_field :progressao %>
  </div>
  <div class="field">
    <%= f.label :livramento %><br />
    <%= f.text_field :livramento %>
  </div>
  <div class="field">
    <%= f.label :termino %><br />
    <%= f.text_field :termino %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
